*{
    background-color:#1F2833 ;
    font-family: sans-serif;
    
}

h1{
    text-align: center;
    color: #66FCF1;
}

h2{
    text-align: center;
     
}

a{
    text-decoration: none;
    text-align: center;
    color: #66FCF1; 
}