img{
    height: auto;
    margin-top:auto;
    margin-right: 200px;
    margin-left: 300px;
      
}

h1{
    text-align: center;
    color:#32b218;
}

h2{
    text-align: center;
    color:#690cbc;
}

h3{
    text-align: center;
}